# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
/fabric/.gradle/
/neoforge/.gradle/
/common/.gradle/
/neoforge/.gradle/architectury/
/common/.gradle/architectury/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/fabric/.gradle/architectury/
/fabric/.gradle/architectury-cache/
/fabric/.gradle/loom-cache/
